<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exchange.mapper.GoodsMapper">
    <insert id="addGoods">
        INSERT INTO goods (
            name,
            price,
            detail_info,
            images,
            type,
            sale_status,
            audit_status,
            user_id,
            create_time,
            update_time
        ) VALUES (
                     #{name},
                     #{price},
                     #{detailInfo},
                     #{images},
                     #{type},
                     #{saleStatus},
                     #{auditStatus},
                     #{userId},
                     #{createTime},
                     #{updateTime}
                 )
    </insert>
    <insert id="addFavoriteGoods">
        INSERT INTO
        collect (user_id, goods_id, create_time)
        VALUES (#{userId}, #{id},#{createTime})
    </insert>
    <select id="selectCount" resultType="java.lang.Long">
        SELECT COUNT(*) FROM goods
    </select>

    <select id="selectRecentGoods" resultType="com.exchange.vo.RecentGoodsVO">
        SELECT
            g.name,
            u.username,
            g.price,
            g.create_time AS time
        FROM goods g
                 LEFT JOIN `user` u ON g.user_id = u.id
        ORDER BY g.create_time DESC
        LIMIT 8
    </select>

    <select id="selectWaitCheck" resultType="com.exchange.vo.TodoVO">
        SELECT
            id,
            CONCAT('商品【', name, '】待审核') AS content,
            DATE_FORMAT(create_time, '%Y-%m-%d') AS time,
            0 AS status
        FROM goods
        WHERE audit_status = 0
        ORDER BY create_time DESC
        LIMIT 6
    </select>

    <select id="findAuditGoods" resultType="com.exchange.pojo.Goods">
        SELECT
        g.*,
        u.username  <!-- 这里查到发布人名字 -->
        FROM goods g
        LEFT JOIN `user` u ON g.user_id = u.id
        WHERE g.audit_status = 0
        ORDER BY g.create_time DESC
    </select>

    <!-- 根据ID查询 -->
    <select id="findById" resultType="com.exchange.pojo.Goods">
        SELECT
        g.id,
        g.name,
        g.price,
        g.detail_info,
        g.images,
        g.type,
        g.reject_reason,
        g.sale_status,
        g.audit_status,
        g.user_id,
        g.create_time,
        g.update_time,

        u.username,
        u.avatar_url

        FROM goods g
        LEFT JOIN user u ON g.user_id = u.id
        WHERE g.id = #{id}
    </select>

    <!-- 审核通过 -->
    <update id="updateAuditPass">
        UPDATE goods
        SET audit_status = 1, sale_status = 1
        WHERE id = #{id}
    </update>

    <!-- 审核驳回 -->
    <update id="updateAuditReject">
        UPDATE goods
        SET audit_status = 2, reject_reason = #{rejectReason}
        WHERE id = #{id}
    </update>
    <update id="updateGoods">
        UPDATE goods
        SET
            name = #{name},
            price = #{price},
            images = #{images},
            detail_info = #{detailInfo},
            audit_status = #{auditStatus},
            type = #{type},
            update_time = #{updateTime}
        WHERE id = #{id}
    </update>
    <update id="updateSaleStatus">
        UPDATE goods
        SET sale_status = #{saleStatus}
        WHERE id = #{id}
    </update>

    <select id="findRejectedGoods" resultType="com.exchange.pojo.Goods">
        SELECT
            g.*,
            u.username
        FROM goods g
                 LEFT JOIN user u ON g.user_id = u.id
        WHERE g.audit_status = 2
        ORDER BY g.create_time DESC
    </select>
    <select id="selectMyPublish" parameterType="java.lang.Long" resultType="com.exchange.pojo.Goods">
        SELECT * FROM goods
        WHERE user_id = #{id}
        ORDER BY create_time DESC
    </select>
    <select id="selectMyFavorite" resultType="com.exchange.pojo.Goods">
        SELECT
            g.id,
            g.name,
            g.price,
            g.images,
            g.type,
            g.sale_status,
            g.audit_status,
            g.user_id,
            g.create_time
        FROM collect c
                 INNER JOIN goods g ON c.goods_id = g.id
        WHERE c.user_id = #{userId}
        ORDER BY c.create_time DESC
    </select>
    <select id="selectNewGoodsPage" resultType="com.exchange.dto.GoodsDTO">
        SELECT
            g.id,
            g.name,
            g.price,
            g.images,
            g.create_time,
            u.username,
            u.avatar_url AS avatarUrl
        FROM goods g
                 INNER JOIN `user` u ON g.user_id = u.id
        WHERE
            g.sale_status = 1
          AND g.audit_status = 1
          AND DATE(g.create_time) = CURDATE()
        ORDER BY g.create_time DESC
    </select>
    <select id="getGoodsDetails" resultType="com.exchange.vo.GoodsDetailsVO">
        SELECT
        g.id,
        g.name,
        g.price,
        g.images,
        g.detail_info AS detailInfo,
        g.sale_status AS saleStatus,
        g.audit_status AS auditStatus,
        g.reject_reason AS rejectReason,
        g.user_id AS userId,
        u.username AS username,
        u.avatar_url AS avatarUrl,
        g.create_time AS createTime,
        CASE WHEN EXISTS (
        SELECT 1
        FROM collect c
        WHERE c.goods_id = g.id
        AND c.user_id = #{userId}
        ) THEN 1 ELSE 0 END AS isLiked
        FROM goods g
        INNER JOIN `user` u ON g.user_id = u.id
        WHERE g.id = #{id}
    </select>
    <select id="selectGoodsPriceById" resultType="java.math.BigDecimal">
        SELECT price FROM goods WHERE id = #{id}
    </select>
    <select id="selectSellerId" resultType="java.lang.Long">
        SELECT user_id FROM goods WHERE id = #{goodsId}
    </select>

    <!-- 删除 -->
    <delete id="deleteById">
        DELETE FROM goods WHERE id = #{id}
    </delete>

    <delete id="deleteFavoriteGoods">
        DELETE FROM collect WHERE user_id = #{userId} AND goods_id = #{id}
    </delete>
</mapper>